html, body {
  background-color: #f8f8f8;
  font-family: 'Open Sans', sans-serif;
}

.wrapper {
  margin-top: 100px;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}

.border-round {
  border-radius: 10px;
}

.card {
  background: #fff;
  color: #666;
  box-shadow: 0 5px 15px rgba(0,0,0,0.08);
  position: relative;
  box-sizing: border-box;
  transition: box-shadow .1s ease-in-out;
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
}

.card > div {
  width: 50%;
  box-sizing: border-box;
  margin: 0;
}

.card-inner {
  padding: 40px 40px;
}

.card-visual {
  background-image: linear-gradient(-180deg, #74D5FB 0%, #2CE4D9 100%);
  text-align: center;
  color: #fff;
  text-transform: uppercase;
}

.arrow {
  width: 100px;
  height: 100px;
  background-image: url(../img/arrow.png);
  position: absolute;
  z-index: 100;
  background-position: center center;
  background-size: 50px;
  background-repeat: no-repeat;
  top: 50%;
  transform: translateY(-50%);
}

.arrow.left {
  left: -100px;
}

.arrow.right {
  right: -100px;
  transform: rotate(180deg) translateY(50%);
}

.logo {
  width: 100px;
  position: absolute;
  top: 20px;
  left: 20px;
  z-index: 10;
}

.icon {
  background-image: url('../img/car.png');
  display: block;
  height: 120px;
  width: 200px;
  background-position: center center;
  background-size: 180px;
  margin: 0 auto;
  background-repeat: no-repeat;
}

.button {
  border-radius: 100px;
  font-size: 1.2rem;
  color: #fff;
  background: transparent;
  border: 2px solid #fff;
  text-transform: uppercase;
  padding: 10px 40px;
}

#name {
  font-size: 1.2rem;
}

#origin {
  font-size: 2.5rem;
  font-weight: bold;
}

#price {
  font-size: 4rem;
  font-weight: bold;
  position: relative;
  display: table;
  margin: 30px auto;
}

#price:before {
  content: '';
  position: absolute;
  top: 50%;
  left: -30px;
  height: 30px;
  width: 30px;
  transform: translateY(-50%);
  background: url('../img/money.svg');
  background-size: cover;
}

.values {
  margin-top: 30px!important;
}

.value {
  display: block;
  font-size: 2rem;
  font-weight: bold;
  color: #00ddea;
}

.subtitle {
  font-size: 1.2rem;
  text-transform: uppercase;
  font-weight: bold;
  color: #d9d9d9;
  margin-top: 4px;
  display: block;
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    white-space: nowrap; /* 1 */
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
    white-space: inherit;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important; /* Black prints faster */
        -webkit-box-shadow: none !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre {
        white-space: pre-wrap !important;
    }
    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
