<!doctype html>
<html class="no-js" lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>Vue Cars</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="manifest" href="site.webmanifest">
  <link rel="apple-touch-icon" href="icon.png">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700" rel="stylesheet">
  <link rel="stylesheet" href="css/normalize.css">
  <link rel="stylesheet" href="css/main.css">
</head>
<body>
  <div id="app" class="wrapper">
    <img class="logo" src="./img/logo.png" />
    <span @click="prev()" class="arrow left"></span>
    <span @click="next()"class="arrow right"></span>
    <div class="card border-round">
      <div class="card-inner values">
        <p>
          <span class="value">{{car.horsepower}}</span>
          <span class="subtitle">Hourse Power</span>
        </p>
        <p>
          <span class="value">{{car.piles_per_gallon}}</span>
          <span class="subtitle">Miles Per Galon</span>
        </p>
        <p>
          <span class="value">{{car.acceleration}}</span>
          <span class="subtitle">Accelleration</span>
        </p>
        <p>
          <span class="value">{{car.weight_in_lbs}}</span>
          <span class="subtitle">Weight</span>
        </p>
        <p>
          <span class="value">{{car.cylinders}}</span>
          <span class="subtitle">Cylinders</span>
        </p>
      </div>
      <div class="card-visual">
        <div class="card-inner">
          <p>{{car.name}}</p>
          <p>{{car.origin}}</p>
          <span class="icon"></span>
          <p id="price">3000</p>
          <button class="button">buy</button>
        </div>
      </div>
    </div>
  </div>


  <script src="js/vendor/modernizr-3.6.0.min.js"></script>
  <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
  <script>window.jQuery || document.write('<script src="js/vendor/jquery-3.3.1.min.js"><\/script>')</script>
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script src="js/plugins.js"></script>

  <script>

    let app = new Vue({
      el: '#app',
      data: {
        car: {},
        cars: [],
        loadedPages: [],
        currentCarIndex: 0,
        pageNumber: 1,
        },
      mounted: function() {
        this.getCars(true)
      },
      methods: {
        getCars (init) {
          if (this.loadedPages.includes(this.pageNumber)) {
            return false
          } else {
            $.get("http://localhost:3000/cars", { _page: this.pageNumber }, (data) => {
              this.loadedPages.push(this.pageNumber)
              data.map(car => {
                Object.entries(car).map(([key, value]) => {
                  car[key] = value ? value : 'NA'
                });
                this.cars.push(car)
              })
              if (init) {
                this.showCar()
              }
            })
          }
        },
        showCar () {
          this.car = this.cars[this.currentCarIndex]
        },
        next () {
          if (this.currentCarIndex == (this.cars.length - 2)) {
            this.pageNumber++
            this.getCars(false)
          }
          this.currentCarIndex++
          this.showCar()
        },
        prev () {
          if (this.currentCarIndex > 0) {
            this.currentCarIndex--
            this.showCar()
          }
        }
      }
    })

  </script>
</body>

</html>
